#
# The SQLite database used by Coverage
#
.coverage

#
# Output files from Easy Music Generator
#
easy_music_generator/output/*

#
# Cached Python byte code
#
__pycache__

#
# DS_Store files created by macOS for reasons unknown...:-P
#
.DS_Store

#
# Vim session files
#
Session.vim


# --- END --- #
