#
# Ignore cached Python byte code
# 
__pycache__

#
# Ignore large Magenta models aka bundles aka mag files
#
*.mag

#
# DS_Store files created by macOS for reasons unknown...:-P
# 
.DS_Store

#
# Vim session files
#
Session.vim


# --- END --- #

